* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  letter-spacing: 0.5px;
  font-family: "Roboto", sans-serif;
}
* button,
* li {
  cursor: pointer;
}

.App {
  min-width: 100%;
}

.Movies nav {
  min-width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  z-index: 1000;
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0));
  padding: 0px 70px 0px 50px;
  color: white;
}
.Movies nav ul {
  list-style: none;
}
.Movies nav .left {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 30%;
}
.Movies nav .left img {
  max-width: 350px;
  max-height: 65px;
  padding: 0px;
  margin: 0px;
  margin-right: 20px;
  cursor: pointer;
}
.Movies nav .left .elements {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.Movies nav .left .elements .el {
  width: -moz-fit-content;
  width: fit-content;
  text-wrap: nowrap;
  margin: 0px 15px;
  font-size: 13px;
  font-weight: bold;
}
.Movies nav .acc {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.Movies nav .acc li {
  cursor: auto;
  font-weight: bold;
}
.Movies nav .acc .menu {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: relative;
}
.Movies nav .acc .menu:hover .inv {
  display: block;
}
.Movies nav .acc .menu .more {
  width: 13px;
  aspect-ratio: 1/1;
  margin: 5px;
}
.Movies nav .acc .menu .inv {
  display: none;
  position: absolute;
  top: 49px;
  right: 15px;
  width: 220px;
  background: rgba(0, 0, 0, 0.7);
  border-radius: 4px;
}
.Movies nav .acc .menu .inv .list-sgnout {
  width: 100%;
  height: 50px;
  background-color: transparent;
  color: white;
  font-size: 12px;
  font-weight: bold;
  border: none;
  outline: none;
}
.Movies nav .acc .menu .inv .list-cont {
  width: 100%;
  margin: 20px 5px 5px 5px;
  display: flex;
  flex-direction: column;
}
.Movies nav .acc .menu .inv .list-cont .up-arrow {
  position: relative;
  transform: rotate(270deg);
  top: -195px;
  left: 180px;
  width: 20px;
  opacity: 0.7;
  aspect-ratio: 1/1;
}
.Movies nav .acc .menu .inv .list-cont p {
  font-size: 12px;
  font-weight: bold;
}
.Movies nav .acc .menu .inv .list-cont .inv-el {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  height: 35px;
  margin-bottom: 5px;
  cursor: pointer;
}
.Movies nav .acc .menu .inv .list-cont .inv-el img {
  width: 30px;
  aspect-ratio: 1/1;
  border-radius: 4px;
  cursor: pointer;
  margin-right: 10px;
}
.Movies nav .acc .menu .inv .line {
  width: 100%;
  height: 1px;
  background: white;
}
.Movies nav .acc .search {
  width: 25px;
  aspect-ratio: 1/1;
  cursor: pointer;
}
.Movies nav .acc li {
  margin: 0px 10px;
}
.Movies nav .acc a {
  font-weight: bold;
  font-size: 16px;
  text-decoration: none;
  color: white;
}
.Movies nav .acc .profile {
  width: 35px;
  border-radius: 4px;
  cursor: pointer;
}
.Movies .cover {
  z-index: -2;
  min-height: 100vh;
  min-width: 100%;
  z-index: -2;
  background-image: url("../../public/Imgs/movie-cover.jpg");
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 50px;
}
.Movies .cover .rank {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: white;
  margin: 25px 3px;
}
.Movies .cover .rank .top {
  width: 50px;
  aspect-ratio: 1/1;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: red;
  color: white;
  font-weight: bold;
  font-size: 18px;
  border-radius: 4px;
  line-height: 0.8;
  margin: 0px 35px 0px 0px;
}
.Movies .cover .details {
  color: white;
  font-size: 26px;
  font-weight: bold;
  text-wrap: wrap;
  width: 40%;
  margin-bottom: 25px;
  margin-left: 3px;
}
.Movies .cover .buttons {
  display: flex;
  align-items: center;
}
.Movies .cover .buttons .play {
  width: 150px;
  height: 55px;
  font-size: 22px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  border-radius: 4px;
  margin: 0px 20px 0px 3px;
}
.Movies .cover .buttons .play:hover {
  background: rgba(255, 255, 255, 0.7);
}
.Movies .cover .buttons .play img {
  width: 30px;
  aspect-ratio: 1/1;
  margin: 0px 5px;
}
.Movies .cover .buttons .more-info {
  width: 200px;
  height: 55px;
  background-color: rgba(109, 109, 110, 0.7);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 22px;
  font-weight: bold;
  border-radius: 4px;
}
.Movies .cover .buttons .more-info img {
  width: 30px;
  aspect-ratio: 1/1;
  margin: 0px 5px;
}
.Movies .cover .buttons .more-info:hover {
  background-color: rgba(109, 109, 110, 0.5);
}
.Movies .lists {
  margin-top: 70vh;
  color: white;
  padding-top: 100px;
  background: rgb(0, 0, 0);
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgb(0, 0, 0) 30%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000",endColorstr="#000000",GradientType=1);
}
.Movies .lists .movies,
.Movies .lists .series {
  display: flex;
  flex-direction: column;
  margin: 0;
  overflow: auto;
  white-space: nowrap;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  background: rgb(0, 0, 0);
}
.Movies .lists .movies::-webkit-scrollbar,
.Movies .lists .series::-webkit-scrollbar {
  display: none;
}
.Movies .lists .movies:nth-child(1),
.Movies .lists .series:nth-child(1) {
  background: rgb(0, 0, 0);
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgb(0, 0, 0) 30%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000",endColorstr="#000000",GradientType=1);
}
.Movies .lists .movies:nth-child(1) .cards,
.Movies .lists .series:nth-child(1) .cards {
  background: transparent;
}
.Movies .lists .movies h1,
.Movies .lists .series h1 {
  margin-bottom: 50px;
  font-size: 46px;
  font-weight: bold;
  background-color: transparent;
}
.Movies .lists .movies .cards,
.Movies .lists .series .cards {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding-bottom: 50px;
  min-width: -moz-fit-content;
  min-width: fit-content;
  overflow: hidden;
  background-color: black;
}
.Movies .lists .movies .cards .left-scroll,
.Movies .lists .series .cards .left-scroll {
  position: absolute;
  top: 35%;
  left: 0px;
  width: 50px;
  z-index: 150;
  cursor: pointer;
  transform: rotate(180deg);
  opacity: 0;
  transition: all ease-in 0.05s;
}
.Movies .lists .movies .cards .left-scroll:hover,
.Movies .lists .series .cards .left-scroll:hover {
  opacity: 100%;
}
.Movies .lists .movies .cards .right-scroll,
.Movies .lists .series .cards .right-scroll {
  position: absolute;
  top: 35%;
  left: 97vw;
  width: 50px;
  z-index: 150;
  opacity: 0;
  cursor: pointer;
  transition: all ease-in 0.05s;
}
.Movies .lists .movies .cards .right-scroll:hover,
.Movies .lists .series .cards .right-scroll:hover {
  opacity: 100%;
}
.Movies .lists .movies .cards .card,
.Movies .lists .series .cards .card {
  margin-right: 25px;
  width: 250px;
  aspect-ratio: 3/4;
  cursor: pointer;
  transition: all ease-in 0.2s;
}
.Movies .lists .movies .cards .card:hover,
.Movies .lists .series .cards .card:hover {
  transform: scale(110%);
}
.Movies .lists .movies .cards .card img,
.Movies .lists .series .cards .card img {
  width: 100%;
  aspect-ratio: 3/4;
}

.Navbar {
  min-width: 100%;
  min-height: 70px;
  background: rgb(0, 0, 0);
  background: linear-gradient(180deg, rgb(0, 0, 0) 0%, rgb(20, 20, 20) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000",endColorstr="#141414",GradientType=1);
}

.Login {
  position: relative;
}
.Login .wrapper {
  position: absolute;
  top: o;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: -5;
  background-image: url("/public/Imgs/Background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  filter: brightness(45%);
}
.Login nav {
  width: 100%;
  max-height: 100px;
}
.Login nav img {
  width: 225px;
  height: 100px;
}
.Login main {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.Login main form {
  width: 450px;
  height: 650px;
  margin-bottom: 100px;
  background: rgba(0, 0, 0, 0.7);
  color: white;
  padding: 65px;
  display: flex;
  flex-direction: column;
  border-radius: 4px;
}
.Login main form .err {
  width: 100%;
  color: red;
  font-size: 12px;
  font-weight: bold;
}
.Login main form .disc {
  margin: 100px 0px 0px 0px;
  width: 100%;
}
.Login main form .disc span {
  width: 100%;
  font-size: 12px;
  color: #b3b3b3;
}
.Login main form .disc span:nth-child(2) {
  color: #0071eb;
  cursor: pointer;
}
.Login main form h1 {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 10px;
}
.Login main form input {
  border-radius: 4px;
}
.Login main form .form-input {
  margin: 10px 0px;
  min-width: 100%;
  min-height: 50px;
  padding: 10px 15px;
  outline: none;
  border: none;
  font-size: 16px;
  font-weight: bold;
  background: #333;
  color: white;
}
.Login main form .submit {
  margin: 20px 0px;
  min-width: 100%;
  min-height: 50px;
  padding: 10px 15px;
  outline: none;
  border: none;
  font-size: 16px;
  font-weight: bold;
  background: #e50914;
  color: white;
  cursor: pointer;
}
.Login main form .remember {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #b3b3b3;
}
.Login main form .remember label,
.Login main form .remember small {
  font-size: 12px;
  cursor: pointer;
}
.Login main form .remember .check {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.Login main form .remember .check input {
  width: 15px;
  height: 15px;
  margin: 0px 5px;
  accent-color: #333;
  color: black;
  padding: 3px;
}
.Login footer {
  width: 100%;
  background: rgba(0, 0, 0, 0.7);
  padding: 50px;
}
.Login footer .cont {
  width: 75%;
  margin: auto;
  display: flex;
  flex-direction: column;
}
.Login footer .cont a {
  text-decoration: none;
  color: #737373;
  margin: 15px 0px;
  cursor: pointer;
  font-weight: bold;
}
.Login footer .cont a:hover {
  text-decoration: underline;
}
.Login footer .cont .list {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  list-style: none;
}
.Login footer .cont .list a {
  min-width: 25%;
  font-size: 12px;
  font-weight: bold;
}

.Accounts {
  min-width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #141414;
  position: relative;
}
.Accounts h1 {
  font-size: 62px;
  font-weight: bold;
  color: white;
}
.Accounts .wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.Accounts .wrapper .add-user {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.Accounts .wrapper .add-user:hover img {
  outline: 5px solid black;
  box-sizing: border-box;
  cursor: pointer;
  transform: rotate(180deg);
  transition: all ease-in-out 0.3s;
}
.Accounts .wrapper .add-user:hover h2 {
  color: white;
}
.Accounts .wrapper .add-user img {
  max-width: 200px;
  margin: 0px 15px;
  aspect-ratio: 1/1;
  background-color: white;
  border-radius: 50%;
  transition: all ease-in-out 0.3s;
}
.Accounts .wrapper .add-user h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 15px 0px;
  color: #636363;
}
.Accounts .cards {
  min-width: 50%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 50px 0px;
  flex-wrap: wrap;
}
.Accounts .cards .user,
.Accounts .cards .kids {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  cursor: pointer;
}
.Accounts .cards .user:hover .box .dimmed,
.Accounts .cards .kids:hover .box .dimmed {
  outline: 4px solid white;
  box-sizing: border-box;
}
.Accounts .cards .user:hover h2,
.Accounts .cards .kids:hover h2 {
  color: white;
}
.Accounts .cards .user .box,
.Accounts .cards .kids .box {
  display: flex;
  align-items: center;
  justify-content: center;
  filter: brightness(85%);
}
.Accounts .cards .user .box:hover,
.Accounts .cards .kids .box:hover {
  filter: brightness(100%);
}
.Accounts .cards .user .box .dimmed,
.Accounts .cards .kids .box .dimmed {
  max-width: 200px;
  margin: 0px 15px;
  border-radius: 4px;
  aspect-ratio: 1/1;
  transition: all ease-in-out 0.2s;
  cursor: pointer;
}
.Accounts .cards .user .box .dimmed:hover,
.Accounts .cards .kids .box .dimmed:hover {
  transform: scale(110%);
}
.Accounts .cards .user .del,
.Accounts .cards .kids .del {
  max-width: 200px;
  background-color: transparent;
  border: none;
  outline: none;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  z-index: 5;
  display: none;
  transition: all ease-in-out 3s;
}
.Accounts .cards .user .del .delete,
.Accounts .cards .kids .del .delete {
  margin: 15px;
  max-width: 25px;
  aspect-ratio: 1/1;
  border-radius: 50%;
  border: none;
  outline: none;
  background-color: transparent;
  transition: all ease-in-out 0.3s;
  background-color: white;
}
.Accounts .cards .user .del .delete:hover,
.Accounts .cards .kids .del .delete:hover {
  transform: rotate(180deg);
  transition: all ease-out 0.3s;
}
.Accounts .cards .user h2,
.Accounts .cards .kids h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 15px 0px;
  color: #636363;
}
.Accounts .manage {
  width: 250px;
  height: 50px;
  background: transparent;
  border: none;
  outline: 1px solid #636363;
  color: #636363;
  margin: 25px 0px;
  font-weight: bold;
  font-size: 22px;
}
.Accounts .manage:hover {
  outline: 1px solid white;
  color: white;
}

.AddUser {
  width: 100%;
  min-height: 100vh;
  background: #141414;
  display: flex;
  align-items: center;
  justify-content: center;
}
.AddUser .cont {
  position: relative;
  background-color: #141414;
  width: 65%;
  min-height: 80vh;
  color: white;
  border: 3px solid white;
  border-radius: 4px;
}
.AddUser .cont .exit {
  position: absolute;
  top: 15px;
  right: 15px;
  max-width: 50px;
  border-radius: 50%;
  background-color: white;
  cursor: pointer;
}
.AddUser .cont form {
  max-width: 50%;
  margin: auto;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  padding: 50px;
  font-size: 22px;
  font-weight: bold;
}
.AddUser .cont form button {
  width: 450px;
  height: 50px;
  font-size: 18px;
  font-weight: bold;
  color: lightgray;
  padding: 10px;
  background-color: red;
  outline: none;
  border: none;
  border-radius: 4px;
  transition: all ease-in-out 0.13s;
}
.AddUser .cont form button:hover {
  color: white;
  transform: scale(110%);
}
.AddUser .cont form h1 {
  font-size: 36px;
}
.AddUser .cont form .inputs {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.AddUser .cont form .inputs .input {
  margin: 15px 0px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.AddUser .cont form .inputs .input label {
  min-width: 150px;
  margin: 0px 10px;
}
.AddUser .cont form .inputs .input input {
  width: 400px;
  height: 50px;
  font-size: 16px;
  font-weight: bold;
  color: white;
  padding: 0px 10px;
  background: transparent;
  border: none;
  outline: none;
  border-bottom: 3px solid red;
  border-radius: 3px;
  margin: 15px 0px;
}
.AddUser .cont form .choices {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.AddUser .cont form .choices .input {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0px 50px;
}
.AddUser .cont form .choices .input img {
  aspect-ratio: 1/1;
  width: 75px;
  margin: 50px 0px;
  border-radius: 4px;
  transition: all ease-in-out 0.08s;
  cursor: pointer;
}
.AddUser .cont form .choices .input img:hover {
  transform: scale(115%);
  outline: 3px solid white;
}/*# sourceMappingURL=style.css.map */